{# Important: server requires access to itself via IPv4 and IPv6 localhost. #}
    Require ip ::1
    Require ip 127.0.0.1
{% for item in cvmfs_s1_restricted_acl_combined %}
    Require ip {{ item }}
{% endfor %}
