{
  "administrator" : "{{ cvmfs_server_meta_info.administrator }}",
  "email"         : "{{ cvmfs_server_meta_info.email }}",
  "organisation"  : "{{ cvmfs_server_meta_info.organisation }}",

  "custom" : {
    "_comment" : "Put arbitrary structured data here"
  }
}
